// Core variables and mixins
// Modern Sass: Using @forward to re-export all lightgallery modules
@forward "lg-variables";
@forward "lg-mixins";
@forward "lg-fonts";
@forward "lg-theme-default";
@forward "lg-thumbnail";
@forward "lg-video";
@forward "lg-autoplay";
@forward "lg-zoom";
@forward "lg-pager";
@forward "lg-fullscreen";
@forward "lg-share";
@forward "lg-core";
