.DS_Store

# Compiled site
_site
.jekyll-cache/

# Sass garbage
.sass-cache

# Bundler
.bundle/
vendor/

# IDE
.idea

# Don't upload draft posts
_drafts
_drafts/*

_site/

pagefind.exe

.jekyll-metadata
