<div class="modal" id="modal-contact">
	<div class="modal-background"></div>
	<div class="modal-card">
		<header class="modal-card-head">
			<p class="modal-card-title">Contact</p>
			<button class="delete" aria-label="close"></button>
		</header>
		<section class="modal-card-body">
			<p>Have any comments or suggestions, feel free to reach out !</p>
			<ul class="modal__list">
				{% include social_media_links.html %}
			</ul>
			{% if site.buy_me_a_coffee_username %}
			<br />
			<p>Do you like this blog and wish to contribute? You could <a href="https://buymeacoffee.com/{{site.buy_me_a_coffee_username}}">Buy me a Coffee <i class="fa-solid fa-mug-hot"></i></a>!</p>
			{% endif %}
		</section>
		<footer class="modal-card-foot">
			<button class="button is-primary modal-close-button">Close</button>
		</footer>
	</div>
</div>
