// Bourbon Compatibility Layer
// Provides minimal Bourbon functions/variables needed by Bitters base styles
// This avoids importing all 78 Bourbon files with deprecation warnings

// Use modern SASS modules
@use "sass:list";
@use "sass:math";
@use "typography" as *;

// ============================================================================
// Variables: Button Input Selectors
// ============================================================================

// Button input selectors (from Bourbon addons/_buttons.scss)
$all-button-inputs: 'button, input[type="button"], input[type="reset"], input[type="submit"]' !default;
$all-button-inputs-active: '#{$all-button-inputs}:active' !default;
$all-button-inputs-focus: '#{$all-button-inputs}:focus' !default;
$all-button-inputs-hover: '#{$all-button-inputs}:hover' !default;

// ============================================================================
// Variables: Text Input Selectors
// ============================================================================

// Text input selectors (from Bourbon addons/_text-inputs.scss)
$all-text-inputs: 'input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea' !default;
$all-text-inputs-active: '#{$all-text-inputs}:active' !default;
$all-text-inputs-focus: '#{$all-text-inputs}:focus' !default;
$all-text-inputs-hover: '#{$all-text-inputs}:hover' !default;

// ============================================================================
// Mixins: CSS3 Vendor Prefixes (Modern browsers don't need most of these)
// ============================================================================

// Appearance mixin (simplified - modern browsers largely support this unprefixed)
// Original was in Bourbon css3/_appearance.scss
@mixin appearance($value) {
  -webkit-appearance: $value;
  -moz-appearance: $value;
  appearance: $value;
}

// Font feature settings mixin (simplified)
// Original was in Bourbon css3/_font-feature-settings.scss
@mixin font-feature-settings($settings...) {
  @if list.length($settings) > 0 {
    -webkit-font-feature-settings: $settings;
    -moz-font-feature-settings: $settings;
    font-feature-settings: $settings;
  }
}

// User select mixin (for _layout.scss)
@mixin user-select($value) {
  -webkit-user-select: $value;
  -moz-user-select: $value;
  -ms-user-select: $value;
  user-select: $value;
}

// Clearfix mixin (modern browsers support display: flow-root natively)
// But we provide the mixin for compatibility
// Original was in Bourbon addons/_clearfix.scss
@mixin clearfix {
  &::after {
    clear: both;
    content: "";
    display: block;
  }
}

// ============================================================================
// Helper Functions
// ============================================================================

// em() function - convert px to em
// Original was in Bourbon functions/_px-to-em.scss
@function em($pxval, $base: $em-base) {
  @if not math.is-unitless($pxval) {
    $pxval: math.div($pxval, ($pxval * 0 + 1));
  }
  @if not math.is-unitless($base) {
    $base: math.div($base, ($base * 0 + 1));
  }
  @return math.div($pxval, $base) * 1em;
}

// rem() function - convert px to rem
// Original was in Bourbon functions/_px-to-rem.scss
@function rem($pxval, $base: $em-base) {
  @if not math.is-unitless($pxval) {
    $pxval: math.div($pxval, ($pxval * 0 + 1));
  }
  @if not math.is-unitless($base) {
    $base: math.div($base, ($base * 0 + 1));
  }
  @return math.div($pxval, $base) * 1rem;
}

// ============================================================================
// Placeholder Selectors (used by Bitters)
// ============================================================================

%default-ul {
  list-style-type: disc;
  margin-bottom: 0.75em;
  padding-left: 1.5em;
}

%default-ol {
  list-style-type: decimal;
  margin-bottom: 0.75em;
  padding-left: 1.5em;
}
