@use "utilities/utilities" as *;

// Breakpoint variables (shared with _layout.scss)
$b3: 480px;
$mobile: $b3;
$b2: 768px;
$tablet: $b2;
$b1: 960px;
$desktop: $b1;

.gallery-items {

  flex-wrap: wrap;
  margin: 0px;
  line-height: 0px;

  .gallery-item {
    width: 49%;
    margin: 0;
    padding: 0px;
    background: #000;
    overflow: hidden;
    display: inline-grid;
    border: white 2px solid;

			@include media($tablet) {
				width: 32%;
			}

		  @include media($desktop) {
				width: 24%;
			}

    img {
      height: auto;
      max-width: 100%;
      width: 100%;
      -webkit-transform: scale(1.05);
      transform: scale(1.05);
      -webkit-transition: .3s ease-in-out;
      transition: .3s ease-in-out;
    }

    img:hover {
      transform: scale(1.19);
      opacity: .5;
    }
  }

}
