---
layout: default
---
<img data-pagefind-meta="image[src]" src="{{ page.cover | prepend: site.baseurl }}" style="display:none" />
<section class="hero {% if page.cover %}is-medium has-background has-dark-overlay has-text-shadow has-box-shadow{% else %}is-medium{% endif %} {% if page.cover_options %}{{ page.cover_options }}{% endif %}">
	{% if page.cover %}
	<img alt="Page cover" class="hero-background is-transparent" src="{{ page.cover | prepend: site.baseurl }}" />
	{% endif %}
	<div class="hero-body">
		<div class="container has-text-centered">
			{% if page.include_sticker %}
			<img src="{{site.sticker | prepend: site.baseurl }}" alt="sticker" class="sticker" />
			{% endif %}
			<h1 class="title {% if page.cover %}has-text-white{% endif %}">{{ page.title }}</h1>
			{% if page.byline %}
			<p class="info {% if page.cover %}has-text-white{% endif %}"><em>{{ page.byline }}</em></p>
			{% endif %}
		</div>
	</div>
</section>

<div class="wrapper">
<div class="page">

  <article class="post-content" data-pagefind-body>
    {{ content }}
  </article>

</div>
</div>
