table {
  @include font-feature-settings("kern", "liga", "tnum");
  border-collapse: collapse;
  margin: $small-spacing 0;
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
}

th {
  border-bottom: 1px solid darken($base-border-color, 15%);
  font-weight: 600;
  padding: $small-spacing $small-spacing;
  text-align: left;
  background-color: #f2f2f2;
}

td {
  border-bottom: $base-border;
  padding: $small-spacing $small-spacing;
}

tr,
td,
th {
  vertical-align: middle;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
